body {
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ff00;
}

header {
    background-color: #002200;
    color: #00ff00;
    padding: 20px;
    border-bottom: 2px solid #00ff00;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #001100;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff00;
}




